{
    "extends": [
        "airbnb",
        "node",
        "prettier"
    ],
    "plugins": ["prettier"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx"],
                "paths": ["src"]
            }
        }
    },
    "rules": {
        "indent": ["error", 4],
        "import/prefer-default-export": "off",
        "prettier/prettier": ["error"],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-one-expression-per-line": ["error", {"allow": "single-child"}],
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off"
    }
}
